// Sliding Diagonals Background Effect -Chris Smith - 2017
html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  margin-left:auto;
  margin-right:auto;
  color: Gainsboro;
}

h1 {
  font-size: 16px;
  color: khaki;
  text-align: center;
}

h2 {
  top: 0%;
  left: 0%;
  font-family: sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  color: #fff;
  font-size: 20px;
  font-weight: 888;
  justify-content: center;
  align-items: center;
}

.button {
  height: 50px;
  width: 100px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border-radius: 30px;
  font-size:20px;
  color: Gainsboro;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
