/* Original source : https://github.com/dwmkerr/starfield
 *
 * Adjusted to DoMoAct paulvha/ December 2023
 */
body {
	margin: 0px;
	padding: 0px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #000;
	color: #bbbbbb;
}

#container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	overflow: hidden;
}

#front {
	margin-left:auto;
	margin-right:auto;
	color: Gainsboro;
	padding: 2px;
}

.button {
	height: 50px;
	width: 100px;
	background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); //background-color: rgba(216, 167, 20, 0.8);
	border-radius: 30px;
	font-size:20px;
	color: Gainsboro;
}
